<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
</head>
<body>
<div class="user-list" id="user-list">
  <h3>Online Users</h3>
  <!-- 在线用户列表将在这里显示 -->
</div>

<div class="chat-container">
  <div class="messages" id="messages">
    <!-- 聊天消息将在这里显示 -->
  </div>
  <div class="input-container">
    <input type="text" id="message" placeholder="Type your message...">
    <button id="submit" type="submit">Send</button>
  </div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", function() {
    var ws = new WebSocket("ws://" + window.location.host + "/ws");

    function handleUserList(data) {
    const userList = document.querySelector(".user-list");
    userList.innerHTML = data.slice("Online users: ".length).replace(/,/g, "<br>");
  }

    function handleMessage(data) {
    const messageContainer = document.getElementById("messages");
    const message = document.createElement("li");

    const parsedMessage = data.split(/:(.+)/, 2);
    const userInfo = parsedMessage[0];
    const msgText = parsedMessage[1];

    const userElement = document.createElement("strong");
    userElement.innerText = userInfo + ": ";

    const msgElement = document.createElement("span");
    msgElement.innerText = msgText;

    message.appendChild(userElement);
    message.appendChild(msgElement);

    messageContainer.appendChild(message);
    messageContainer.scrollTop = messageContainer.scrollHeight;
  }

    ws.onopen = function() {
    console.log("Connected to chat");
  };

    ws.onmessage = function(event) {
    const data = event.data;

    if (data.startsWith("Online users: ")) {
    handleUserList(data);
  } else {
    handleMessage(data);
  }
  };

    ws.onclose = function() {
    console.log("Disconnected from chat");
  };

    document.getElementById("submit").addEventListener("click", function(event) {
    event.preventDefault();
    const messageInput = document.getElementById("message");
    ws.send(messageInput.value);
    messageInput.value = "";
  });
  });
</script>
</body>
</html>
